<h1>About Me</h1>
<p>This section is about me. But not really. I am learning Ruby but not quite sure if that is grammatically correct.</p>
<p> Here I am trying to make a new paragraph. Can you tell?</p>
<h2> here is should have created a heading</h2>
<p>but the heading should not as big as the heading at the top of the page</p>
